html, body {
    height: 100%;
    margin: 0;
}

.container {
    min-height: 100%;  /* Ensures that the content takes up at least the full height of the page */
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;  /* This ensures that the main content will take up all available space and push the footer to the bottom */
}

footer {
    background-color: #f1f1f1;
    padding: 20px 0;
    text-align: center;
    position: relative;
}
